lab6/db/lab6.quiproj.22708.rdr.flock
lab6/drawing_state_machine.sv
lab6/greybox_tmp/cbx_args.txt
lab6/simulation/transcript
lab6/simulation/work/_lib.qdb
lab6/simulation/work/_lib1_11.qdb
lab6/simulation/work/_lib1_24.qtl
lab6/simulation/work/_lib1_24.qpg
lab6/simulation/work/_lib1_24.qdb
lab6/simulation/work/_lib1_12.qtl
lab6/simulation/work/_lib1_12.qpg
lab6/simulation/work/_lib1_11.qtl
lab6/simulation/work/_lib1_11.qpg